

body, html {
	background-color: #FFFFFF; 
	height: 100% 
}


/*Top part of website*/
#caption {
	padding-bottom: 80px; 
}

/* Navbar container */
#navbar {
	overflow: hidden;
	background-color: #b4b4b4;
	opacity: 0.5; 
}

/* Navbar links */
#navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	overflow: hidden; 
}

/*Dropdown container*/
.dropdown {
	float: left; 
	overflow: hidden;
	position: relative;
	display: inline-block;
}

/* Dropdown button */
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 4px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/*Black background for hover*/
#navbar a:hover, .dropdown:hover {
	background-color: black; 
}

/* Down button decoraction*/

/*Dropdown content (hidden by default)*/
.dropcontent {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px; 
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1; 
}

/* Links inside dropdown*/
.dropcontent a {
	float: none;
	color: black; 
	padding: 12px 14px; 
	text-decoration: none;
	display: block;
	text-align: left;
}

/* Add grey background to dropdown links on hover*/
.dropcontent a:hover {
	background-color: #ddd; 
}

/* Show dropdown menu on hover */
.dropbtn:hover .dropcontent {
	display: block;
}


/* Page content */
.content {
	padding: 16px;
}

/* Sticky class added to navbar with JS when it reaches its scroll position*/
.sticky {
	position: fixed;
	top: 0;
	width: 100%; 
}


/* Add top padding to page to prevent sudden quick movement*/
.sticky + .content {
	padding-top: 60px; 
}


/* Photo Positioning*/
#one {
	position: left; 
}

#two {
	position: right;
}

.square {
	width: 100px;
	height: 100px; 
}

#info {
	margin-left: 25px; 
	padding-left: 25px; 
	/*padding-right: 25px; */
	/*margin-right: 25px; */

}

#p1 {
	margin-left: 25px; 

}

/*my picture edits*/
#lore{ 
border-radius: 8px; 
float: left; 
padding-bottom: 30px; 
padding-right: 10px; 
 } 


#story{
	color: white; 
}


/*SQL part*/
