/*body {padding-top: 50px; }


.container-fluid {
	 padding: 25px 50px 75px;
}


.navbarnavbar-expand-lgnavbar-lightbg-light {
	padding-bottom: 10px; 
}
*/

body {
	background-color: #FFFFFF; 
}

#caption {
	text-align: center; 
}
/*Style test navbar*/
#navbar {
	overflow: hidden;
	background-color: #b4b4b4;
	opacity: 0.5; 
}

/* Navbar links */
#navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 12px;
	text-decoration: none;
}

/* Page content */
.content {
	padding: 16px;
}

/* Sticky class added to navbar with JS when it reaches its scroll position*/
.sticky {
	position: fixed;
	top: 0;
	width: 100%; 
}


/* Add top padding to page to prevent sudden quick movement*/
.sticky + .content {
	padding-top: 60px; 
}


/* Photo Positioning*/
#one {
	position: left; 
}

#two {
	position: right;
}